.try_examples_iframe_container {
    border-width: 1px;
    border-style: solid;
    border-color: #d8d8d8;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0.2rem 0.5rem #d8d8d8;
}

.try_examples_raw_iframe {
    border-width: 1px;
    border-style: solid;
    border-color: #d8d8d8;
    box-shadow: 0 0.2rem 0.5rem #d8d8d8;
}

.hidden {
    display: none;
}
